### Node ###
# Dependency directories
node_modules/

# Logs
logs
*.log

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

### NextJS ###
# Next build dir
.next/

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### Linux ###
.directory
.Trash-*
.nfs*

### macOS ###
.DS_Store
Icon
._*
.Trashes

### Windows ###
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/

### VisualStudioCode ###
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore all local history of files
.history
.ionide
